.Weather {
  padding: 20px;
  margin: 25px auto;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgba(98, 95, 88, 0.2);
  border-radius: 10px;
  color: rgb(99, 168, 221);
}

.Weather h2 {
  color: rgb(99, 134, 229);
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
}

.Weather canvas {
  margin-top: 11px;
  padding-right: 10px;
  width: 64px;
}

.Weather .temp {
  color: rgb(99, 134, 229);
  font-size: 50px;
}

.Weather .units {
  position: relative;
  top: -22px;
  margin-left: 3px;
  line-height: 1;
}

.Weather .preciseData {
  position: relative;
  bottom: 50px;
}

.Weather form {
  margin-top: 40px;
}

.loading {
  color: rgb(99, 168, 221);
}
